body {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    /* background-image: url("https://combo.staticflickr.com/ap/build/images/sohp/2020-top-25/Fantasy_Island_Daniel_Cheong.jpg"); */
    margin: 0;
    padding: 0;

}

#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
